
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - NoLockedThreads</title>

    <script src="{{ url_for('static', filename='js/jquery-3.5.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a {% if request.path == '/' %}class="active"{% endif %} href="/">Frontpage</a>
        <a {% if request.path == '/subreddits' %}class="active"{% endif %} href="/subreddits">Top 100 subreddits</a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <a href="https://reddit.com/r/NoLockedThreads">r/NoLockedThreads</a> 
        <a href="https://github.com/LameLemon/NoLockedThreads-bot"> Source code</a>
        <a href="#">API</a>
    </footer>
</body>
</html>